* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-style: normal;

    @font-face {
        font-family: 'ert-px-regular';
        src: url('ert-px-regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .fnt-hnd {
        font-family: "Delicious Handrawn", cursive;
        font-weight: 400;
        font-style: normal;
    }


    .fnt-brnd {
        font-family: "Fredoka";
        font-weight: 400;
        font-style: normal;
    }

    .fnt-ert {
        font-family: "algerian";
        font-weight: 400;
        font-style: normal;
    }

    .fnt-ert-px {
        font-family: "times new roman";
        font-weight: 500;
        font-size: x-large;
        font-style: normal;
    }
}

/* navigasi */
a {
    text-decoration: none;
}

.nvbr-brnd {
    font-size: 2rem;
    color: black;
}

.nvbr-brnd:hover {
    color: blueviolet;
}

.nav-lnk {
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}

.nav-lnk:hover {
    color: blueviolet;
}

.telusuri {
    height: 40px;
    width: 80%;
    margin-right: -35px;
    border-radius: 60px;
    outline: none;
    border: 2px solid crimson;
}

.btn0 {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    border-radius: 60px;
    background: crimson;
    color: antiquewhite;
    font-weight: 7000;
}

.btn0:hover {
    color: cyan;
}

/* utama */
.hero {
    background: url(Tulips.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%;
}

.hero h1 {
    font-size: 4rem;
    color: black;
    font-weight: 700;
}

.btn1 {
    height: 45px;
    width: 35%;
    border: none;
    border-radius: 60px;
    outline: none;
    background-color: crimson;
    color: antiquewhite;
    font-weight: 700;
}

.btn1:hover {
    background-color: red;
    transition: 0.5s;
}

h1 {
    font-weight: 700;
}

button:hover {
    color: cyan;
    background-color: red;
    transition: 0.2s;
}

.card:hover {
    box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.46);
    transition: 0.3s;
}
.card > img {
    width: auto;
    height: auto;
}
.contact {
    padding: 50px 0;
}
    textarea {
        height: 200px;
        resize: none;
    }
.news {
    background-color: grey;
    color: antiquewhite;
}
.btn2 {
    height: 45px;
    width: 100px;
    background: antiquewhite;
    margin-left: -10px;
    border: none;
    font-weight: 600;
}
.news input {
    height: 40px;
    width: 80%;
    border: 2px solid antiquewhite;
    outline: none;
    background: black;
    color: antiquewhite;
    margin-top: 20px;
    font-weight: 600;
}
.news input::placeholder {
    color: antiquewhite;
    font-weight: 600;
}